body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/background4.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.dashboard-container {
  position: absolute;
  color:black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;  
  max-width: 600px;  
  height: 85%; 
  background-color: #fff;
  border-radius: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 10);
  padding: 30px; 
  box-sizing: border-box;  
}

.create-account-title{
  text-align:center;
  padding-bottom:20px;
}

.dashboard-form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  max-width: 400px; 
  margin: 0 auto;
}

.dashboard-form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dashboard-form label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.dashboard-form button {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  margin-top:25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 2s ease, transform 2s ease;
}

.dashboard-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.password-match {
  font-size: 14px;
  color: green; 
  margin-top: 5px;
}

.password-mismatch {
  font-size: 14px;
  color: red; 
  margin-top: 5px;
}