* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Used by both */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/background4.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.home {
  text-align: center;
  width: 100%;
  max-width: 1200px;  /* Makes sure the content doesn't stretch too wide on large screens */
}

.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; /* Ensures navbar is always on top */
}

.nav-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
  background-color: #555;
  transform: translateY(-2px);
}

.main-content {
  padding-top: 100px;
  text-align: center;
  z-index: 5;
}

.main-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.main-content h3 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #ddd;
}

.sign-up {
  margin-top: 100px;
  z-index: 5;
}

.sign-up h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff;
}

.sign-up input {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  color: #333;
  transition: border-color 0.3s ease;
}

.sign-up input:focus {
  border-color: #007bff;
  outline: none;
}

.get-started-button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.sign-up input::placeholder {
  color: #aaa;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: auto;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 10;
}